<!DOCTYPE html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
	  <base href="{{htmlWebpackPlugin.options.base.href}}">
		<title>{{htmlWebpackPlugin.options.title}}</title>
  </head>
  <body>
  	<div class="container">
  		<div class="row">
  			<div class="col-12">
					<p><code>Variable Title: {{htmlWebpackPlugin.options.title}}</code></p>
					<p><code>Prueba Webpack Static</code></p>
				</div>
			</div>
		</div>
  </body>
</html>